@inherits LayoutComponentBase
@inject AuthenticationStateProvider AuthenticationStateProvider



<div class="page">
    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    <p>@context.User.Identity.Name</p>
                    <a class="btn"href="/signout">Sign Out</a>
                    
                </Authorized>
                <NotAuthorized>
                    <a href="/signin">
                        <img src="/sits_small.png" />
                    </a>
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

