@using System.Net
@using SteamGamesWeAllCanPlayWASM.Client.Providers
@using SteamGamesWeAllCanPlayWASM.Shared.Models
@inherits LayoutComponentBase
@inject AuthenticationStateProvider AuthProvider



<div class="page">
    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    <p>Hallo @UserName</p>
                    <a class="btn"href="/signout">Sign Out</a>
                    
                </Authorized>
                <NotAuthorized>
                    <a href="/signin">
                        <img src="/sits_small.png" />
                    </a>
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code
{

    public string UserName = "";

    protected override async Task OnInitializedAsync()
    {

        var authstate = await AuthProvider.GetAuthenticationStateAsync();

        if (authstate.User.Identity.Name != null)
        {
            UserName = authstate.User.Identity.Name;
        }
    }
    //}
    //[Inject]
    //public HttpClient HttpClient { get; set; }

    //public bool isLoaded { get; set; }

    //public MUser User { get; set; }


    //protected override async Task OnInitializedAsync()
    //{
    //    var response = await HttpClient.GetAsync($"api/users/{context.User.Identity.Name}");
    //    isLoaded = true;
    //    if (response.StatusCode == HttpStatusCode.OK)
    //    {
    //        User = await response.Content.ReadFromJsonAsync<MUser>();
    //    }
    //}


    
}

