@using SteamGamesWeAllCanPlayWASM.Client.Services
@using SteamGamesWeAllCanPlayWASM.Shared.Models
@inject AuthenticationStateProvider AuthProvider
@inject SteamService userService

<div class="overviewContainer">
    @if(@overview != null)
    {
        <div class="avatar">
            <img src=@overview.AvatarFullURL/>
        </div>
        <div class="userName">
            <h2>@UserName</h2>
            <p>@overview.FriendsCount Freunde (davon @FriendsOnline online)</p>
            <p>@overview.GameCount Spiele in der Bibliothek</p>
        </div>
    }
    else
    {
        <p>Loading...</p>
    }
</div>


@code {


    public string UserName = string.Empty;
    public string AvatarURL;
    public int FriendCount = 0;
    public int FriendsOnline = 0;
    public uint Games = 0;
    public MUserOverview overview { get; set; }

    protected override async Task OnInitializedAsync()
    {

        var authstate = await AuthProvider.GetAuthenticationStateAsync();

        if (authstate.User.Identity.IsAuthenticated)
        {
            UserName = authstate.User.Identity.Name;
            var steamid = authstate.User.Claims.FirstOrDefault(c => c.Type == "SteamId").Value;
            overview = await userService.GetOverviewAsync(steamid);

            //FriendCount = overview.FriendsCount;
            //FriendsOnline = overview.FriendsOnline;
            //Games = overview.GameCount;
            //AvatarURL = overview.AvatarFullURL;
        }
    }
}
